@import './../../../../assets/scss/colors.scss';

.header {
    display: flex;
    align-items: center;
    background-color: $purple2;
}

.header .btnMenu {
    background: $purple-light2;
    color: $white;
    border-radius: 100%;
    width: 4em;
    height: 4em;
    margin-top: 3em;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    display: flex;
    margin-top: 3em;
    max-height: 5em;
}

.header .title-group {
    display: flex;
    margin-top: 7em;
    padding-left: 25px;
    left: 25%;
    right: 50%;
    position: absolute;
}

.header .title-group mat-icon{
    padding-right: 5px;
}