$purple: #5714BA;
$purple2: #8420CE;
$purple-light: #9F33DD;
$purple-light2: #BD91E5;
$green: #2BD142;
$red: #CE352C;
$yellow: #FFCD30;
$blue-light: #00DCFF;
$gray: #797979;
$gray-light: #A0A0A0;
$white: #FFFFFF;
