<mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="sidenav" mode="side" [opened]="false" fixedInViewport="true" fixedTopGap="128">
        <mat-nav-list class="nav-list">
            <div class="container-nav-image-user">
                <img [src]="(userLogged?.role == 0 ? './../../../../assets/img/adminImg.png' : './../../../../assets/img/userImg.png')">
                <strong><h3>{{ (userLogged ? (userLogged.name + ' ' + userLogged.lastName) : '')}}</h3></strong>
            </div>
            <a mat-list-item (click)="openPerfilDialog()"><mat-icon>badge</mat-icon> Perfil</a>
            <a mat-list-item routerLink="/users" (click)="sidenavClose()"><mat-icon>people</mat-icon> Usuários</a>
            <a mat-list-item (click)="logout()"><mat-icon>logout</mat-icon> Sair</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" (click)="sidenavClose()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>