<mat-toolbar class="mat-toolbar-login"><img src="./../../../assets/img/RocketMyAccountLogo.png"></mat-toolbar>

<div class="card-container">
    <mat-card  class="card-content">    
        <form  class="form-elements" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <mat-icon class="user-icon">account_circle</mat-icon>
            
            <h3 style="padding: 4%; margin: 4%;">LOGIN</h3>

            <div class="form-group">
                <mat-form-field class="form-row" appearance="outline">
                    <input matTooltip="Seu email" matInput placeholder="usuário" required
                        id="username" name="username" formControlName="username"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && field.username.errors }" >
                </mat-form-field>
                <div *ngIf="submitted && field.username.errors" class="invalid-feedback">
                    <div *ngIf="field.username.errors.required">Obrigatório informar um usuário!</div>
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="form-row" appearance="outline">
                    <input matTooltip="Sua senha" matInput placeholder="senha" required
                        id="password" name="gpassword" [type]="hidePwd ? 'password' : 'text'"
                        formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.password.errors }">
                    <button mat-icon-button matSuffix type="button" (click)="hidePwd = !hidePwd" [attr.aria-label]="'Ocultar Senha'" [attr.aria-pressed]="hidePwd">
                        <mat-icon class="hidePwdIcon" matTooltip="{{(hidePwd ? 'Clique para mostrar a senha' : 'Clique para ocultar a senha')}}">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
                    <div *ngIf="field.password.errors.required">Obrigatório informar uma senha!</div>
                </div>
            </div>

            <div class="form-group">
                <button mat-raised-button color="primary" mat-raised-button style="border-radius:15px;max-height:6vh; left: 35%;" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
            </div>

            <div class="footer">
                <p>
                    <img src="./../../../assets/img/GitHub.png"><a style="color: white;" href="https://github.com/DiegoSantos18/AppolusProject" target="_blank">By - Diego Santos</a>
                </p>
            </div>
        </form>
    </mat-card>
</div>